.angka{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    color: #fff;
    margin: 10px auto;
    padding-top: 13px;
}

.cTotal{
    border-left: 2px solid #eae5e5;
    height: 90%;
    margin-top: 10px;
}